/Debug/MFCApplication1.exe
/Debug/MFCApplication1.ilk
/Debug/MFCApplication1.pdb
/ipch/MFCAPPLICATION1-2abdabc8/MFCAPPLICATION1-f537f305.ipch
/MFCApplication1.VC.db
/MFCApplication1/Debug/MFCApplication1.log
/MFCApplication1/Debug/MFCApplication1.obj
/MFCApplication1/Debug/MFCApplication1.pch
/MFCApplication1/Debug/MFCApplication1.res
/MFCApplication1/Debug/MFCApplication1.tlog/CL.command.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/CL.read.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/CL.write.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/link.command.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/link.read.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/link.write.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/MFCApplication1.lastbuildstate
/MFCApplication1/Debug/MFCApplication1.tlog/rc.command.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/rc.read.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/rc.write.1.tlog
/MFCApplication1/Debug/MFCApplication1.tlog/unsuccessfulbuild
/MFCApplication1/Debug/MFCApplication1Dlg.obj
/MFCApplication1/Debug/stdafx.obj
/MFCApplication1/Debug/vc140.idb
/MFCApplication1/Debug/vc140.pdb
/MFCApplication1/x64/Debug/MFCApplication1.log
/MFCApplication1/x64/Debug/MFCApplication1.obj
/MFCApplication1/x64/Debug/MFCApplication1.pch
/MFCApplication1/x64/Debug/MFCApplication1.res
/MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.command.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.read.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.write.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/link.command.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/link.read.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/link.write.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/MFCApplication1.lastbuildstate
/MFCApplication1/x64/Debug/MFCApplication1.tlog/MFCApplication1.write.1u.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.command.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.read.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.write.1.tlog
/MFCApplication1/x64/Debug/MFCApplication1Dlg.obj
/MFCApplication1/x64/Debug/stdafx.obj
/MFCApplication1/x64/Debug/vc140.idb
/MFCApplication1/x64/Debug/vc140.pdb
/x64/Debug/MFCApplication1.exe
/x64/Debug/MFCApplication1.exp
/x64/Debug/MFCApplication1.ilk
/x64/Debug/MFCApplication1.lib
/x64/Debug/MFCApplication1.pdb
